/*

!/.atom/
/.atom/*
!/.atom/config.cson
!/.atom/keymap.cson
!/.atom/styles.less
!/.atom/grammar-config
!/.atom/grammar-config/*


!/.bash_aliases
!/.bashrc
!/bin/

!/.config/
/.config/*
!/.config/autostart/
!/.config/dconf/
/.config/dconf/*
!/.config/dconf/setup-*.sh

!/.config/sublime/
!/.config/sublime-text-3/
/.config/sublime-text-3/*
!/.config/sublime-text-3/Packages/User
!/.config/systemd/
!/.config/user-dirs.conf
!/.config/user-dirs.dirs

!/dropbox
!/.emacs
!/emacs/
!/.emacs.d/
!/.ghc/
/.ghc/*
!/.ghc/ghci.conf
!/.gitconfig
!/.gitignore
!/.latexmkrc
!/.local/
/.local/bin/

!/.local/share/
/.local/share/*
!/.local/share/backgrounds/
!/.local/share/backgrounds/*
!/.local/share/fonts/
!/.local/share/fonts/*

!/nix/
!/oseary
!/.sbt/
!/.stack/.gitignore
!/.stack/config.yaml
!/.stack/shell.nix
!/.tmux.conf
!/.vimrc
!/.xmonad/