/*

!/.atom/
/.atom/*
!/.atom/config.cson
!/.atom/keymap.cson
!/.atom/styles.less
!/.atom/grammar-config
!/.atom/grammar-config/*


!/.bash_aliases
!/.bashrc
!/bin/

!/.config/
/.config/*
!/.config/autostart/
!/.config/dconf/
/.config/dconf/*
!/.config/dconf/setup-*.sh
!/.config/fish/*
!/.config/git/
/.config/git/gitk
!/.config/sublime/
!/.config/systemd/
!/.config/user-dirs.conf
!/.config/user-dirs.dirs

!/.config/sublime-text-3/
/.config/sublime-text-3/*
!/.config/sublime-text-3/Packages/
/.config/sublime-text-3/Packages/*
!/.config/sublime-text-3/Packages/User/

!/dropbox
!/.emacs
!/emacs/
!/.emacs.d/
!/.ghc/
/.ghc/*
!/.ghc/ghci.conf
!/.gitconfig
!/.gitignore

!/.idea/
/.idea/*
/.ideaHaskellLib

!/.latexmkrc
!/.local/
/.local/bin/

!/.local/share/
/.local/share/*
!/.local/share/backgrounds/
!/.local/share/backgrounds/*
!/.local/share/fonts/
!/.local/share/fonts/*

!/nix/
!/oseary
!/.sbt/
!/.stack/.gitignore
!/.stack/config.yaml
!/.stack/shell.nix
!/.tmux.conf
!/.vimrc
!/.xmonad/
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
