[Desktop Entry]
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[es]=Ajuste de la temperatura de color
Name[de]=Redshift
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[de]=Farbtemperatur Anpassungswerkzeug
Name[hu]=Redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Name[lt]=Redshift
Name[fr]=Redshift
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
GenericName[de]=Farbtemperatur Anpassung
Comment=Color temperature adjustment tool
GenericName[zh_CN]=色温调节
Name[ru]=Redshift
StartupNotify=true
GenericName[hu]=Szín hőmérséklet beállítás
Comment[da]=Justeringsværktøj for farvetemperatur
GenericName[it]=Regolazione della temperatura del colore
Comment[tr]=Renk sıcaklığı ayarlama aracı
Terminal=false
GenericName[ru]=Настройка цветовой температуры
Comment[zh_CN]=色温调节工具
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment[fr]=Outil de réglage de la température de couleur
GenericName[fr]=Réglage de la température de couleur
GenericName[nl]=Kleurtemperatuur aanpassing
GenericName[cs]=Přizpůsobení barevné teploty
GenericName[lt]=Spalvos temperatūros reguliavimas
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Name[it]=Redshift
Type=Application
GenericName[da]=Justering af farvetemperatur
Name=Redshift
Icon=redshift
Name[es]=Redshift
Version=1.0
Name[pl]=Redshift
Hidden=true
Name[pt_BR]=Redshift
Name[tr]=Redshift
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[it]=Strumento per la regolazione della temperatura del colore
Categories=Utility;
Name[zh_CN]=红移
Exec=redshift-gtk
GenericName=Color temperature adjustment
Comment[es]=Herramienta para el ajuste de la temperatura de color
X-GNOME-Autostart-enabled=false
GenericName[tr]=Renk sıcaklığı ayarı

