"*":
  core:
    themes: [
      "one-dark-ui"
      "flowerbed-dark-syntax"
    ]
  editor:
    fontFamily: "Monoid"
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "442e1f62-5ade-c806-af93-da31575ba721"
  welcome:
    showOnStartup: false
