"*":
  "autocomplete-plus":
    enableAutoActivation: false
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "ficus-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    fontSize: 24
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "442e1f62-5ade-c806-af93-da31575ba721"
  welcome:
    showOnStartup: false
